<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title></title>


      <%= "Hello, #{@email}" %>

      <h1><%= "Here are your specials for the day: #{@time}" %></h1>

      <% @specials.each do |special| %>

        <h1><%= special.feed.name %>
        <h2><%= special.day_description %></h2>
        <h2><%= special.description %></h2>
        <br>
        
      <% end %>

  </body>
</html>

