<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title></title>


      <p>Hello <b><%=@user.email%></b>! Here are your specials for <%= @date %>.</p>

      <% @specials.each do |special| %>

        <h2><%= special.feed_name %></h2>
        <%= render special %>

      <% end %>

      <h3><%= link_to("Destroy Subscriptions", subscription_url(@user), method: :delete) %></h3>

  </body>
</html>

